<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="https://chat.openai.com/favicon.ico" type="image/x-icon">
    <title>New Chat</title>
</head>
<body class="bg-chatblack-50">
    <div class="flex h-[100vh] text-white">
        <div class="left bg-sidebar-50 w-2/12"></div>
        <div class="right w-10/12 flex justify-center items-center flex-col">
            <div class="main-container flex flex-col h-full w-full justify-center items-center">
                <div class="text-center w-[60%] text-4xl font-bold my-20">
                    ChatGPT
                </div> 
                <div class="itemsrow flex mt-40 py-4 w-[60%] justify-center">
                    <div class="examples w-full flex flex-col items-center mx-2">
                        <button class="w-full border-2 border-white border-opacity-20 py-3 px-5 mx-2 my-2 rounded-lg flex flex-col justify-start items-start hover:bg-white hover:bg-opacity-5">
                            <div class="flex text-sm font-semibold w-full">
                                Write a message that 
                            </div>  
                            <div class="truncate flex text-sm text-gray-100 text-opacity-50 font-semibold w-full">
                                goes with a kitten gif for a friend on a rough day.
                            </div> 
                        </button>
                        <button class="w-full border-2 border-white border-opacity-20 py-3 px-5 mx-2 my-2 rounded-lg flex flex-col justify-start items-start hover:bg-white hover:bg-opacity-5">
                            <div class="flex text-sm font-semibold w-full">
                                Write a message that 
                            </div>  
                            <div class="truncate flex text-sm text-gray-100 text-opacity-50 font-semibold w-full">
                                goes with a kitten gif for a friend on a rough day.
                            </div> 
                        </button>
                    </div>
                    <div class="cap w-full flex flex-col items-center mx-2">
                        <button class="w-full border-2 border-white border-opacity-20 py-3 px-5 mx-2 my-2 rounded-lg flex flex-col justify-start items-start hover:bg-white hover:bg-opacity-5">
                            <div class="flex text-sm font-semibold w-full">
                                Write a message that 
                            </div>  
                            <div class="truncate flex text-sm text-gray-100 text-opacity-50 font-semibold w-full">
                                goes with a kitten gif for a friend on a rough day.
                            </div> 
                        </button>
                        <button class="w-full border-2 border-white border-opacity-20 py-3 px-5 mx-2 my-2 rounded-lg flex flex-col justify-start items-start hover:bg-white hover:bg-opacity-5">
                            <div class="flex text-sm font-semibold w-full">
                                Write a message that 
                            </div>  
                            <div class="truncate flex text-sm text-gray-100 text-opacity-50 font-semibold w-full">
                                goes with a kitten gif for a friend on a rough day.
                            </div> 
                        </button>
                    </div>
                </div>
    
                <div class="input w-[60%] text-center">
                    <input class="w-full bg-sidebar-50 py-3 px-3 rounded-lg" type="text" name="" id="" placeholder="Message ChatGPT">
                </div>
            </div>
           
        </div>
    </div>
</body>
</html>